<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s PlayList</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s PlayList</h1>
<% for (let review of user.reviews) { %>
<li>
    <%= review.title %> by <%=review.artist %>
    Rating: <%= review.rating%>/5;
    <% if(review.notes) { %>
        <%= review.notes %>

    <% } %>
</li>
<% } %>

</body>
</html>
